[Unit]
After=network-online.target
Description=ROS2 controller service

[Service]
User=carl
Group=carl
ExecStart=/bin/bash -c 'source ~/ros2_ws/install/local_setup.bash; ros2 launch carl_controller ps4_controller_node.py;'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target